main .container{
    padding:8%;
}
.productDetails{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 100px;

}
.productDetails .images img{
    width: 100%;
    height: auto;
}
.details .category_name{
    font-size: 14px;
    color: #868686;
    margin-bottom: 6px;
}
.details .product_name{
    font-size: 26px;
    font-weight: 400;
    color: #000;
    margin-bottom: 12px;
}
.details .product_price{
    font-size: 20px;
    font-weight: 400;
    color: #000;
    margin-bottom: 20px;
    position: relative;
}
.details .product_price::after{
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #86868694;
}
.product_des{
    font-size: 16px;
    color: #868686;
    margin: 20px 0;
}
.buttons{
    display: flex; 
    justify-content: left;
    align-items: center;
    width: 100%;
}
.buttons .counts{
    min-width: 140px;
    width: 140px;
    height: 55px;
    border: 2px solid rgb(134 134 134 / 50%);
    text-align: center;
    display: inline-block;
    position: relative;
    margin-right: 20px;
    touch-action:manipulation;
}
.counts_btns{
    position: absolute;
    display: block;
    padding: 0;
    top: 0;
    width: 30px;
    height: 51px;
    border: 0;
    background: 0 0;
    color:  rgb(134 134 134 / 50%);
    font-size: 24px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
#minus{
    left: 0;
    text-align: left;
    padding-left: 15px;
}
#plus{
    right: 0;
    text-align: right;
    padding-right: 15px;
}
.product_count{
    width: 35px;
    border: 0px;
    height: 51px;
    background: 0px 0px;
    padding: 0;
    font-weight: 500;
    font-size: 18px;
    color: #000;
    text-align: center;
   
}
.product_count:focus{
    outline: none;
    
}
/* to remove updown from input number */
/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
   margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
#btn_add{
    background-color: #000;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    min-height: 55px;
    min-width: 55px;
    width: 70%;
    text-transform: uppercase;
    border: none;
    padding: 5px 25px;
    cursor: pointer;
}
.toast-overlay{
    position: absolute;
    top: -1000px;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.toast-overlay.show{
    top: 0;
}
.success-msg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 1px solid #000;
    padding: 24px 50px;
}
.success-msg ion-icon{
    font-size: 48px;
    color: green;
    margin-bottom: 24px;

}
.success-msg h4{
    font-size: 14px;
    font-weight: 400;
}

